<%= provide(:title, "Videos Category") %>

<%= render "static_pages/menu_bar" %>
<div class="container">
    <h2>Videos Category edit</h2>
    
        <div class= "row">
            <div class= "col-md-6 col-md-offset-3">
                
                <%= form_for (@category) do |f| %>
                    <%= f.label :title %>
                    <%= f.text_field :title%>
                    
                    <%= f.label :contents %>
                    <%= f.text_area :contents %>
                    
                    <%= f.submit "Create Videos Category" , class: "btn btn-primary" %>
                <%end%>   
                    
                    
            </div>
            
        
        </div>
    
</div>